html,
body {
  scroll-behavior: smooth;
}

.global {
  position: relative;

  .copyrigh {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    left: 0;
    z-index: 99999;
    color: #292929;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
