  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
      margin: 0;
      padding: 0;
      font-family: 'roboto';

      a {
          text-decoration: none;
      }

  }

  .container-navbar-content {
      width: 100%;
      display: flex;
      height: 100px;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color: #f2f2f2;

      .container-cart-detail {
        top: 70px;
        opacity: 0;
        z-index: 5;
        width: 300px;
        right: 100px;
        height: 300px;
        color: #fff;
        overflow: hidden;
        position: absolute;
        border-radius: 5px;
        overflow-y: scroll;
        pointer-events: none;
        transition: .5s ease-in-out;
        background-color: rgb(31, 31, 31);
        box-shadow: rgba(0, 0, 0, 0.603) 3px 5px 5px;

        .container-cart-content {
            width: 100%;
            display: flex;
            padding: 20px 10px;
            align-items: center;
            box-sizing: border-box;
            border: solid 1px #ffffff11;
            justify-content: space-between;
            border-left: solid #555555 5px;

            .container-info-cart {
                width: 150px;
                height: 100%;
                display: flex;
                cursor: pointer;
                flex-direction: column;

                .container-plus-itens {
                    display: flex;
                    width: 60%;
                    height: 30px;
                    overflow: hidden;
                    align-items: center;
                    margin-top: 30px;
                    justify-content: space-between;
                    border: solid 2px rgb(44, 44, 44);
                    border-radius: 5px;

                    div {
                        padding: 5px;
                    }

                    div:active {
                        background-color: rgb(34, 34, 34);
                    }
                }

                div:nth-child(2) {
                    font-size: .8rem;
                    color: #535353;
                    margin-top: 5px;
                }
            }

            img {
                width: 80px;
                height: 80px;
                border-radius: 5%;
            }
        }
    }

      .container-logo {
          width: 20%;
          display: flex;
          font-size: 2rem;
          color: rgb(37, 37, 37);
          font-weight: 900;
          justify-content: center;

      }

      .container-navbar-links {
          width: 60%;
          display: flex;
          justify-content: space-between;

          div {
              cursor: pointer;
          }

      }

      .container-icons-navbar {
          width: 90%;
          display: flex;
          margin-right: 50px;
          justify-content: flex-end;

          span {
              font-size: 2rem;
              margin-left: 30px;

              .container-number-cart {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 25px;
                  height: 25px;
                  font-size: .8rem;
                  color: #fff;
                  border-radius: 100%;
                  background: black;
                  position: absolute;
                  top: -15px;
                  right: -20px;
              }
          }
      }
  }


  .container-cart-detail::-webkit-scrollbar {
      width: 5px;
  }

  .container-cart-detail::-webkit-scrollbar-track {
      background: rgb(31, 31, 31);
  }

  .container-cart-detail::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgb(126, 126, 129);
  }


  .container-content-navbar-default {
      width: 100%;
      opacity: 0;
      display: none;
      height: 500px;
      position: absolute;
      background-color: #f2f2f2;
      justify-content: space-evenly;

      ul {
          list-style: none;

          li {
              cursor: pointer;
              margin: 10px 0;
          }
      }

      .container-images-navbar {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
              width: 100%;
              height: 400px;
              transition: .2s;
              border-radius: 5px;
              object-fit: contain;
          }

          img:hover {
              height: 410px;
          }

          img:nth-child(1) {
              margin-right: 10px;
          }
      }
  }